body {
    font-family: Arial, sans-serif;
    margin-top: 2.54cm;
    margin-bottom: 2.54cm;
    margin-left: 2.54cm; 
    margin-right: 2.54cm;
    font-size: 14px;
}
.centered-text {
text-align: center;
font-family: Arial, sans-serif;
}
.underline {
text-align: center;
border-bottom: 1px solid black;
}
.he {
    font-size: 21px;
    font-weight: bold;
    text-align: center;
}
.subhe {
    font-family: 'Times New Roman', Times, serif;
    font-size: 21px;
    font-style: italic;
    text-align: center;
}
.entry {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.label {
    flex-grow: 1;
    text-align: left;
}

.content {
    flex-grow: 2;
    text-align: right;
}

p {
    text-indent: 3em;
    text-align: justify;
}
.sec {
    font-weight: bold;
    font-size: 17px;
    text-indent: 3em;
    flex-grow: 1;
} 
.sec2 {
    font-size: 17px;
    font-weight: lighter;
    text-align: right;
    text-indent: 3em;
    flex-grow: 2;
}
.code-block {
    background-color: #f4f4f4; /* Light gray background color */
    padding: 10px; /* Add padding for spacing around the code */
    border: 1px solid #ddd; /* Optional: Add a border */
}

.code {
    display: block;
    white-space: pre-wrap;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.archivewarn {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: center;
}
q {
    text-align: justify;
}
img {
    align-items: center;
    justify-content: center; 
    display: flex;
}
.imgtag {
    padding-left: 10px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}


/*

<div><a style="font-family: Arial, sans-serif;" href="index.html">Home</a>, may be more to add to top a</div>
<br>
<br>

<head>
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PAGE TITLE</title>
<link rel="stylesheet" href="mi/page-style.css">
</head>

<!-- Title and top -->

<div class="he">
    <body>
        Title in Sépedz</body>
    </div>
<div class="subhe"><br>
    <body>
        English Title
    </body>
</div>
<br>
<body>
    <div class="entry">
        <div class="label">хүп тихё номдоликызатжи:</div>
        <div class="content">Archiver/Author in href </div>
    </div>
    <div class="entry">
        <div class="label">корам демизопызатҳой:</div>
        <div class="content">Date Added</div>
    </div>
    <br>
    <br>
    <div class="underline"></div>
</body>

<!-- Paragraphs -->

<div>
    <body>
        <br>
        <p>P1</p>
        <p>P2</p>
    </body>
</div>

<!-- Section heading -->

<div class="entry">
    <div class="sec">
        Section in Sépedz
    </div>
    <div class="sec2">
        Section in English
    </div>
</div>

<!-- Code block and gloss -->

<div class="code-block",>
    <code class="code">
    // Your code goes here
            
    </code>
</div>

<!-- TEMPLATE -->

*/